<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static\styles\loginstyles.css">
    
</head>
<body>
    <div class="login-container">
        <div class="close-btn-container">
            <a href="/" class="close-btn">&times;</a>
        </div>
        <h1>Login</h1>

        <form id="loginForm" method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        
            <button type="submit" class="login-btn">Login</button>
        </form>
        
        <div class="signup-link">
            <p>Don't have an account?</p>
            <a href="/signup" class="signup-btn">Sign Up</a>
        </div>

            
    </div>
    <script src="login.js"></script>
</body>
</html>
